*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    list-style:none;
    text-decoration: none;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    position:relative;
    overflow:hidden;
}
header{
    position:fixed;
    right:0;
    top:0;
    z-index:1000;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5vw 7%;
}

.logo{
    font-size:2vw;
    font-weight:700;
    color:white;
    margin-top: .5vw;
}
.nav-list{
    display:flex;
    gap:3.5vw;
}
.nav-list a{
    color:white;
    font-size: 1.2vw;
    font-weight:600;
    border-bottom:2px solid transparent;
    transition: all .55s ease;
}
.nav-list a:hover{
    border-bottom:2px solid white;
}
#menu-icon{
    color:white;
    font-size:1.5vw;
    cursor:pointer;
    z-index: 1001;
    display:none;
}
.hero{
    height:100%;
    width:100%;
    min-height: 100vh;
    background:linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
    position:relative;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}
.hero-image img{
    width:50vw;
    height:auto;    
}
section{
    padding:0 15%;
}
.hero-text h5{
    font-size:1.1vw;
    font-weight: 400;
    color:white;
    margin-bottom:1vw;
}
.hero-text h1{
    font-family: "Permanent Marker", cursive;
    font-size:6.5vw;
    line-height: 1;
    color:white;
    margin:0 0 2vw;
}
.hero-text h4{
    color:white;
    font-size:1.3vw;
    font-weight: 600;
    margin-bottom:.8vw;
}
.hero-text p{
    color:white;
    font-size:1vw;
    line-height: 1.9;
    margin-bottom:2.5vw;
}
.hero-text .fix{
    margin-right: 1vw;
}
.hero-text a{
    display:inline-block;
    color:white;
    background:#4d9559;
    border:1px solid transparent;
    padding:.9vw 2.2vw;
    line-height: 1.4;
    font-size:1vw;
    font-weight: 500;
    border-radius:2.1vw;
    text-transform: uppercase;
    transition:all .55s ease;
}
.hero-text a:hover{
    background:transparent;
    border:1px solid white;
    transform: translateX(.7vw);
}
.hero-text .ctaa{
    background: transparent;
    border:1px solid white;
}
.hero-text .ctaa i{
    margin-right: 1vw;
    vertical-align: middle;
    font-size:1.3vw;
}

.icons{
    position:absolute;
    top:50%;
    padding:0 7%;
    transform:translateY(-50%);
}
.icons i{
    display:block;
    margin:1.8vw 0;
    font-size:2.1vw;
    color:white;
    transition:all .50s ease;
}
.icons i:hover{
    color:#4d9559;
    transform:translateY(-.3vw);
}
.scroll-down{
    position:absolute;
    bottom:6%;
    right:9%;
}
.scroll-down i{
    display:block;
    padding:.8vw;
    font-size: 2vw;
    color:white;
    background: #4d9559;
    border-radius:2.4vw;
    transition:all .50s ease;

}
.scroll-down  i:hover{
    transform:translateY(.4vw);
}

